/* Skill progress bar */
.skills {
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px; /* Added padding for better spacing */
}

.skill {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    margin-bottom: 10px; /* Reduced margin for a tighter layout */
}

.skill-label {
    flex-basis: 150px; /* Set width for label column */
}

.skill label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.progress-bar {
    flex-grow: 1; /* Allow progress bar to take remaining space */
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 8px; /* Adjusted height to make the bar thinner */
    margin-left: 20px; /* Add space between label and progress bar */
    position: relative;
}

.progress {
    height: 100%; /* Full height of the progress-bar */
    background-color: #76c7c0;
    width: 50%; /* Initial width to be updated by JS */
    transition: width 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-label {
    position: absolute;
    top: 50%;
    left: calc(100% + 10px); /* Position it to the right of the progress bar */
    transform: translateY(-50%);
    font-size: 0.8em;
    color: #333;
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
    .skill {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .skill-label {
        flex-basis: auto; /* Allow label to take full width on smaller screens */
        margin-bottom: 5px; /* Add some spacing between skills */
    }

    .progress-bar {
        margin-left: 0; /* Remove left margin on progress bar */
        margin-top: 10px; /* Add space between skills */
    }

    .progress-label {
        position: static; /* Reset position to normal flow */
        margin-top: 5px; /* Add space between progress bar and label */
    }
}


#services {
    padding: 20px;
    background-color: #f9f9f9;
}

.services-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding-bottom: 20px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.services-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
}

.service-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex: 0 0 auto;
    scroll-snap-align:inherit;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card.active {
    transform: scale(1.1);
    z-index: 10;
    position: relative;
}

.service-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.service-card h3 {
    margin: 15px 0;
    font-size: 1.5em;
}

.service-card p {
    color: #555;
}

@media (max-width: 768px) {
    .services-container {
        padding: 10px;
        gap: 10px;
    }

    .service-card {
        width: 250px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .service-card {
        width: 200px;
        padding: 10px;
    }

    .service-card h3 {
        font-size: 1.2em;
    }
}


/* General styles */
header {
    background: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Toggle button styles */
#nav-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
    #nav-toggle {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #333; /* Background color for the navigation */
        z-index: 999; /* Ensure it's above other elements */
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none; /* Hide the navigation menu by default */
    }

    nav ul.show {
        display: flex; /* Show the navigation menu when the show class is applied */
        flex-direction: column; /* Stack menu items vertically */
        align-items: flex-end; /* Align menu items to the right */
        padding: 1rem; /* Add padding for better spacing */
    }

    nav ul li {
        margin: 0.5rem 0; /* Add margin between menu items */
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
        padding: 0.5rem 1rem; /* Adjust padding for menu items */
        display: block;
    }
}

/* Visit count */
#visit-count {
    position: fixed;
    bottom: 10px;
    right: 70px; /* Adjust this value to set it further from the corner */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Responsive adjustments for mobile */
@media only screen and (max-width: 768px) {
    #visit-count {
        bottom: 3px;
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Center horizontally */
        padding: 8px 15px;
        font-size: 0.8em;
    }
}


